
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Merriweather:wght@300&display=swap');
*{
    font-family: "Creepster";
}
img{
    width: 15px;
}
video{
    position: relative;
}